# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = "../WeatherPy/Resources/orig_weather_data.csv"
#drop the first column from the csv file that contained the indices from the previous exercise
weather_data = pd.read_csv(file).drop("Unnamed: 0", axis=1)
weather_data.head()

         City      Lat      Long   Temp  Humidity  Cloudiness   Wind
0      Albany  42.6001  -73.9662  23.38        47          99   4.16
1     Mataura -46.1927  168.8643  50.88        84         100  13.42
2     Ushuaia -54.8000  -68.3000  77.00        27           0  18.41
3   Oksovskiy  62.6062   39.8984 -11.13        88           0   3.78
4  Nikolskoye  59.7035   30.7861   3.24        85           0   4.12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Long"]].astype(float)

weather_data = weather_data.dropna()
humidity = weather_data["Humidity"].astype(float)
humidity

0      47.0
1      84.0
2      27.0
3      88.0
4      85.0
       ...
439    83.0
440    47.0
441    77.0
442    98.0
443    65.0
Name: Humidity, Length: 444, dtype: float64

In [5]:
heat_map = gmaps.Map()
heatmap_layer = gmaps.Heatmap(data=humidity, locations=locations)
heat_map.add_layer(heatmap_layer)
heat_map

Map(configuration={'api_key': 'AIzaSyDAPkbQNWnZEdqzevUX3RSXUt50tXMAYVg'}, data_bounds=[(-76.21029168350591, -1…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
ideal_conditions = weather_data.loc[(weather_data["Temp"]>=70) & (weather_data["Temp"]<80) & (weather_data["Wind"]<10) & (weather_data["Cloudiness"]==0)].drop_duplicates()
ideal_conditions

               City      Lat      Long   Temp  Humidity  Cloudiness  Wind
50   Cabo San Lucas  22.8909 -109.9124  77.00        37           0  3.00
80            Nguru  12.8791   10.4526  70.56        19           0  9.55
275       Tayoltita  24.0833 -105.9333  74.17        25           0  6.80
357         Salalah  17.0151   54.0924  75.20        35           0  8.05
387  Lakes Entrance -37.8811  147.9810  71.01        74           0  1.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
# find the closest hotel
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#create empty lists for hotel_df
hotel_name = []
hotel_vicinty = []

ideal_conditions["Coord"] = ideal_conditions["Lat"].astype(str) + ", " + ideal_conditions["Long"].astype(str)
coordinates = ideal_conditions["Coord"]

for each in coordinates:
    params = {
        "location": each,
        "radius": 5000,
        "type": "hotel",
        "key": api_key
    }
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    # convert response to json
    places_data = response.json()

    # store the name and address of the first hotel that appears
    hotel_name.append(places_data["results"][1]["name"])
    hotel_vicinty.append(places_data["results"][1]["vicinity"])

In [31]:
hotels = {"Hotel Name": hotel_name, "Hotel Vicinity": hotel_vicinty}
hotel_df = pd.DataFrame(hotels)
hotel_df

,Hotel Name,Hotel Vicinity
0,Hotel Tesoro Los Cabos,"Boulevard Paseo de la Marina LT 9 y 10, Marina..."
1,Federal Medical Centre Nguru,Nguru
2,"Correos de México / Tayoltita, Dgo.","Benito Juárez 210, Tayoltita"
3,HAMDAN PLAZA HOTEL SALALAH,Salalah
4,The Esplanade Resort & Spa,"1 Esplanade, Lakes Entrance"

Hotel Tesoro Los Cabos
Boulevard Paseo de la Marina LT 9 y 10, Marina, Cabo San Lucas

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure